.idea/
NotificationService.Application/.idea/
NotificationService.Domain/.idea/
NotificationService.Infrastructure/.idea/
NotificationService.Test/.idea/
NotificationService.WebApi/.idea/

NotificationService.Application/bin/
NotificationService.Application/obj/

NotificationService.Domain/bin/
NotificationService.Domain/obj/

NotificationService.Test/bin/
NotificationService.Test/obj/

NotificationService.Infrastructure/bin/
NotificationService.Infrastructure/obj/

NotificationService.WebApi/bin/
NotificationService.WebApi/obj/
